[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
solc_version = "0.8.30"
optimizer = true
optimizer_runs = 200
remappings = [
    "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts/"
]

# See more config options https://book.getfoundry.sh/reference/config.html
